apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yml
  - service.yml
  - configmap.yml

commonLabels:
  app: calculadora
  version: v1.0.0

namespace: default
